extends ../layout-home
block content
    .container
        .row
            .col-md-12
                form(action="/applications/update?id="+Application.id method="POST" class="edit")
                    .form-group
                        h2 editing a Application

                        .form-group(style="width: 400px;")
                            label Name
                            input(value=Application.name name="name" type="text" class="form-control")
                        .form-group(style="width: 400px;")
                            label Description
                            input(value=Application.description name="description" type="text" class="form-control")
                    input(type="submit" value="Update" class="btn btn-default")
                a(href="/applications/show?id="+Application.id class="btn btn-danger") Cancel