extends ../layout-home
block content
    .container
        .row
            .col-md-12
                h3 application Listing
        .row
            .col-md-12
                if Applications
                    table(class='table table-hover table-condensed')
                        tr
                            th Name
                            th Description
                            th
                            th
                            th
                        each application in Applications
                            tr(data-id=application.id data-model="application")
                                td #{application.name}
                                td #{application.description}
                                td
                                    a(href="/applications/show?id="+application.id  class="btn btn-primary btn-sm" role="button") Show
                                td
                                    a(href="/applications/edit?id="+application.id  class="btn btn-primary btn-sm" role="button") Edit
                                td
                                    form(action="/applications/destroy" method="POST")
                                        //input(type="hidden" name="_method" value="delete")
                                        input(type="hidden" name="id" value=application.id)
                                        input(type="submit" value="Delete"  class="btn btn-danger btn-sm" role="button")

        .row
            .col-md-12
                a(href="/applications/new/" class="btn btn-success btn-sm" role="button") New

        hr
