extends ../layout-home
block content
	.container
		.row
			.col-md-12
				form(class="show")
					.form-group
						h2 a Application
					#{Application}
					.form-group(style="width: 400px;")
						label Name
						input(value=Application.name name="name" type="text" class="form-control" disabled)
					.form-group(style="width: 400px;")
						label Description
						input(value=Application.description name="description" type="text" class="form-control" disabled)

				a(href="/applications/edit?id="+Application.id class="btn btn-default")  Edit
				| |
				a(href="/applications") Back to list